body{
    text-align: center;
    margin: 0px;
    padding-top: 400px;
    background: linear-gradient(#42f5c2 0%,#3ecff0 100%);
}

.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%; 
}

#welcome{
    position: absolute;
    overflow: hidden;
    height: 80px;
    color: aquamarine;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    
    
    
}

h1{
    font-size: 40px;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-family: 'Rubik', sans-serif;
    
    
}
p{
    font-size: 25px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    
    
}


.line{
    height: 6px;
    background-color: aquamarine;
    width: 100px;
    margin: 8px auto;
    
    
}

.menu{
    list-style: none;
    font-family: monospace;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    background: aquamarine;
    width: 100%;
    
}

.links{
      float :none;
      color: floralwhite;
      padding-right: 25px;
      padding-left: 33px;  
      font-size: 20px;
      font-family: fantasy;
      display: inline;
    
      
}

.links:hover{
    font-size: 25px;
    text-decoration: underline;
}
    

a{
    text-decoration: none;
    color: darkseagreen;
    text-shadow: 2px 2px gainsboro;
}
.article:hover{
    color:chartreuse;
}
html{
    scroll-behavior: smooth;
}

#contact{
    background: firebrick;
}

.contact1 a{
    color: white;
    text-shadow: none;
    
}

.contact1 h3{
    display: inline;
}