body{
    text-align: center;
    margin: 0px;
    padding-top: 400px;
    background: linear-gradient(#42f5c2 0%,#3ecff0 100%);
}

.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%; 
}

#welcome{
    position: absolute;
    overflow: hidden;
    height: 80px;
    color: aquamarine;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    
    
    
}

h1{
    font-size: 40px;
    line-height: 40px;
    font-family: inherit;
    
    
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-family: sans-serif;
    
    
}
h3{
    font-size: 40px;
    line-height: 40px;
    font-family: monospace;
    
    
}


.line{
    height: 6px;
    background-color: aquamarine;
    width: 100px;
    margin: 8px auto;
    
    
}

